--
-- PostgreSQL database dump
--

\restrict PvlDaYUKV3UfGAsJFhUoeTfOPudBtyHRfBU3F8yJnPgixfTJLiHwUsO2B2WTdud

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AttendanceStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AttendanceStatus" AS ENUM (
    'PRESENT',
    'ABSENT',
    'LATE',
    'EXCUSED'
);


ALTER TYPE public."AttendanceStatus" OWNER TO postgres;

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Gender" AS ENUM (
    'MALE',
    'FEMALE'
);


ALTER TYPE public."Gender" OWNER TO postgres;

--
-- Name: GradeType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."GradeType" AS ENUM (
    'ORAL',
    'WRITTEN',
    'TEST',
    'EXAM',
    'QUARTER',
    'FINAL'
);


ALTER TYPE public."GradeType" OWNER TO postgres;

--
-- Name: MessageStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."MessageStatus" AS ENUM (
    'SENT',
    'READ'
);


ALTER TYPE public."MessageStatus" OWNER TO postgres;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationType" AS ENUM (
    'GRADE',
    'ATTENDANCE',
    'PAYMENT',
    'ANNOUNCEMENT',
    'MESSAGE',
    'SYSTEM'
);


ALTER TYPE public."NotificationType" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'CLICK',
    'PAYME',
    'UZUM'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'COMPLETED',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: PaymentType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentType" AS ENUM (
    'TUITION',
    'BOOKS',
    'UNIFORM',
    'OTHER'
);


ALTER TYPE public."PaymentType" OWNER TO postgres;

--
-- Name: SubscriptionPlan; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionPlan" AS ENUM (
    'BASIC',
    'STANDARD',
    'PREMIUM'
);


ALTER TYPE public."SubscriptionPlan" OWNER TO postgres;

--
-- Name: TenantStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TenantStatus" AS ENUM (
    'TRIAL',
    'ACTIVE',
    'GRACE_PERIOD',
    'SUSPENDED',
    'BLOCKED'
);


ALTER TYPE public."TenantStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'TEACHER',
    'PARENT',
    'STUDENT'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ActivityLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ActivityLog" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "userId" text NOT NULL,
    action text NOT NULL,
    "resourceType" text NOT NULL,
    "resourceId" text NOT NULL,
    metadata jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ActivityLog" OWNER TO postgres;

--
-- Name: Announcement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Announcement" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "authorId" text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    "targetAudience" text NOT NULL,
    "targetId" text,
    priority text DEFAULT 'MEDIUM'::text NOT NULL,
    "publishedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    attachments jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "classId" text
);


ALTER TABLE public."Announcement" OWNER TO postgres;

--
-- Name: Assignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Assignment" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "teacherId" text NOT NULL,
    "classId" text NOT NULL,
    "subjectId" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    attachments jsonb,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "maxScore" numeric(5,2) NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Assignment" OWNER TO postgres;

--
-- Name: AssignmentSubmission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AssignmentSubmission" (
    id text NOT NULL,
    "assignmentId" text NOT NULL,
    "studentId" text NOT NULL,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    attachments jsonb,
    content text,
    score numeric(5,2),
    feedback text,
    "gradedAt" timestamp(3) without time zone,
    "gradedBy" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AssignmentSubmission" OWNER TO postgres;

--
-- Name: Attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attendance" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "studentId" text NOT NULL,
    "classId" text NOT NULL,
    "subjectId" text NOT NULL,
    "teacherId" text NOT NULL,
    date date NOT NULL,
    status public."AttendanceStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Attendance" OWNER TO postgres;

--
-- Name: Class; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Class" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    name text NOT NULL,
    "gradeLevel" integer NOT NULL,
    "classTeacherId" text,
    "academicYear" text NOT NULL,
    "maxStudents" integer DEFAULT 30 NOT NULL,
    "roomNumber" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Class" OWNER TO postgres;

--
-- Name: ClassSubject; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClassSubject" (
    id text NOT NULL,
    "classId" text NOT NULL,
    "subjectId" text NOT NULL,
    "teacherId" text NOT NULL,
    "hoursPerWeek" integer DEFAULT 2 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ClassSubject" OWNER TO postgres;

--
-- Name: Grade; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Grade" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "studentId" text NOT NULL,
    "subjectId" text NOT NULL,
    "teacherId" text NOT NULL,
    "gradeType" public."GradeType" NOT NULL,
    score numeric(5,2) NOT NULL,
    "maxScore" numeric(5,2) NOT NULL,
    percentage numeric(5,2),
    quarter integer,
    "academicYear" text NOT NULL,
    date date NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Grade" OWNER TO postgres;

--
-- Name: Material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Material" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "teacherId" text NOT NULL,
    "subjectId" text NOT NULL,
    "classId" text,
    title text NOT NULL,
    description text,
    type text NOT NULL,
    "fileUrl" text NOT NULL,
    "fileSize" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Material" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "senderId" text NOT NULL,
    "receiverId" text NOT NULL,
    subject text,
    content text NOT NULL,
    attachments jsonb,
    status public."MessageStatus" DEFAULT 'SENT'::public."MessageStatus" NOT NULL,
    "readAt" timestamp(3) without time zone,
    "parentMessageId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "userId" text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    link text,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Parent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Parent" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "userId" text NOT NULL,
    relationship text NOT NULL,
    occupation text,
    "workAddress" text,
    "emergencyContact" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Parent" OWNER TO postgres;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "studentId" text NOT NULL,
    "parentId" text,
    amount numeric(10,2) NOT NULL,
    "paymentType" public."PaymentType" NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'CASH'::public."PaymentMethod" NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "transactionId" text,
    "invoiceNumber" text NOT NULL,
    "dueDate" date NOT NULL,
    "paidDate" date,
    "receivedById" text,
    "receiptNumber" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payment" OWNER TO postgres;

--
-- Name: PaymentPlan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PaymentPlan" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    name text NOT NULL,
    description text,
    amount numeric(10,2) NOT NULL,
    "durationMonths" integer NOT NULL,
    "discountPercentage" numeric(5,2),
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PaymentPlan" OWNER TO postgres;

--
-- Name: Schedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Schedule" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "classId" text NOT NULL,
    "subjectId" text NOT NULL,
    "teacherId" text NOT NULL,
    "dayOfWeek" integer NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    "roomNumber" text,
    "academicYear" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Schedule" OWNER TO postgres;

--
-- Name: Student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Student" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "userId" text,
    "studentCode" text NOT NULL,
    "dateOfBirth" timestamp(3) without time zone NOT NULL,
    gender public."Gender" NOT NULL,
    address text,
    "medicalInfo" jsonb,
    documents jsonb,
    "classId" text,
    "enrollmentDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Student" OWNER TO postgres;

--
-- Name: StudentParent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StudentParent" (
    "studentId" text NOT NULL,
    "parentId" text NOT NULL,
    "isPrimary" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StudentParent" OWNER TO postgres;

--
-- Name: Subject; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subject" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    description text,
    color text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Subject" OWNER TO postgres;

--
-- Name: SubscriptionPayment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SubscriptionPayment" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    amount numeric(10,2) NOT NULL,
    plan public."SubscriptionPlan" NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'CASH'::public."PaymentMethod" NOT NULL,
    "paymentDate" timestamp(3) without time zone,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "paidBy" text,
    notes text,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SubscriptionPayment" OWNER TO postgres;

--
-- Name: Teacher; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Teacher" (
    id text NOT NULL,
    "tenantId" text NOT NULL,
    "userId" text NOT NULL,
    "teacherCode" text NOT NULL,
    specialization text NOT NULL,
    education text,
    "experienceYears" integer,
    "hireDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "salaryInfo" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Teacher" OWNER TO postgres;

--
-- Name: Tenant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Tenant" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    logo text,
    address text,
    phone text,
    email text,
    status public."TenantStatus" DEFAULT 'TRIAL'::public."TenantStatus" NOT NULL,
    "subscriptionPlan" public."SubscriptionPlan" DEFAULT 'BASIC'::public."SubscriptionPlan" NOT NULL,
    "subscriptionStart" timestamp(3) without time zone,
    "subscriptionEnd" timestamp(3) without time zone,
    "trialEndsAt" timestamp(3) without time zone,
    "maxStudents" integer DEFAULT 50 NOT NULL,
    "maxTeachers" integer DEFAULT 10 NOT NULL,
    settings jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Tenant" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "tenantId" text,
    email text NOT NULL,
    phone text,
    "passwordHash" text NOT NULL,
    "fullName" text NOT NULL,
    avatar text,
    role public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLogin" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ActivityLog" (id, "tenantId", "userId", action, "resourceType", "resourceId", metadata, "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: Announcement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Announcement" (id, "tenantId", "authorId", title, content, "targetAudience", "targetId", priority, "publishedAt", "expiresAt", attachments, "createdAt", "updatedAt", "classId") FROM stdin;
\.


--
-- Data for Name: Assignment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Assignment" (id, "tenantId", "teacherId", "classId", "subjectId", title, description, attachments, "dueDate", "maxScore", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: AssignmentSubmission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AssignmentSubmission" (id, "assignmentId", "studentId", "submittedAt", attachments, content, score, feedback, "gradedAt", "gradedBy", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Attendance" (id, "tenantId", "studentId", "classId", "subjectId", "teacherId", date, status, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Class; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Class" (id, "tenantId", name, "gradeLevel", "classTeacherId", "academicYear", "maxStudents", "roomNumber", "createdAt", "updatedAt") FROM stdin;
demo-class-7a	cmigefl680001633pt61nspi1	7-A	7	\N	2024-2025	30	101	2025-11-26 19:29:53.941	2025-11-26 19:29:53.941
cmih2ko9t0001b1oa24ugalq4	cmigefl680001633pt61nspi1	11-A	11	cmigeflpq0007633pwb30j7gw	2025-2026	30	202	2025-11-27 06:45:40.955	2025-11-27 06:45:40.955
\.


--
-- Data for Name: ClassSubject; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ClassSubject" (id, "classId", "subjectId", "teacherId", "hoursPerWeek", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Grade; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Grade" (id, "tenantId", "studentId", "subjectId", "teacherId", "gradeType", score, "maxScore", percentage, quarter, "academicYear", date, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Material; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Material" (id, "tenantId", "teacherId", "subjectId", "classId", title, description, type, "fileUrl", "fileSize", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Message" (id, "tenantId", "senderId", "receiverId", subject, content, attachments, status, "readAt", "parentMessageId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Notification" (id, "tenantId", "userId", type, title, content, link, "isRead", "readAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Parent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Parent" (id, "tenantId", "userId", relationship, occupation, "workAddress", "emergencyContact", "createdAt", "updatedAt") FROM stdin;
cmigefly6000b633p479dl9k2	cmigefl680001633pt61nspi1	cmigeflxx0009633pnbw1zcof	father	Tadbirkor	\N	\N	2025-11-26 19:29:53.887	2025-11-26 19:29:53.887
cmih2rvg30005b1oa010xfqhe	cmigefl680001633pt61nspi1	cmih2rvfs0003b1oaj3mv4idx	father	\N	\N	\N	2025-11-27 06:51:16.852	2025-11-27 06:51:16.852
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Payment" (id, "tenantId", "studentId", "parentId", amount, "paymentType", "paymentMethod", status, "transactionId", "invoiceNumber", "dueDate", "paidDate", "receivedById", "receiptNumber", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PaymentPlan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PaymentPlan" (id, "tenantId", name, description, amount, "durationMonths", "discountPercentage", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Schedule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Schedule" (id, "tenantId", "classId", "subjectId", "teacherId", "dayOfWeek", "startTime", "endTime", "roomNumber", "academicYear", "createdAt", "updatedAt") FROM stdin;
cmih32piy0009b1oayg75fjel	cmigefl680001633pt61nspi1	cmih2ko9t0001b1oa24ugalq4	cmigeflyq000f633pxamzkikw	cmigeflpq0007633pwb30j7gw	1	08:00	08:45	\N	2025-2026	2025-11-27 06:59:42.394	2025-11-27 06:59:42.394
\.


--
-- Data for Name: Student; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Student" (id, "tenantId", "userId", "studentCode", "dateOfBirth", gender, address, "medicalInfo", documents, "classId", "enrollmentDate", status, "createdAt", "updatedAt") FROM stdin;
cmih2rvgp0007b1oa8qb9ro7z	cmigefl680001633pt61nspi1	\N	STD253466	2001-01-19 00:00:00	MALE	\N	\N	\N	cmih2ko9t0001b1oa24ugalq4	2025-11-27 06:51:16.873	ACTIVE	2025-11-27 06:51:16.873	2025-11-27 06:51:16.873
\.


--
-- Data for Name: StudentParent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StudentParent" ("studentId", "parentId", "isPrimary", "createdAt") FROM stdin;
cmih2rvgp0007b1oa8qb9ro7z	cmih2rvg30005b1oa010xfqhe	t	2025-11-27 06:51:16.887
\.


--
-- Data for Name: Subject; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SubscriptionPayment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SubscriptionPayment" (id, "tenantId", amount, plan, "paymentMethod", "paymentDate", "dueDate", "paidBy", notes, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Teacher; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Teacher" (id, "tenantId", "userId", "teacherCode", specialization, education, "experienceYears", "hireDate", "salaryInfo", "createdAt", "updatedAt") FROM stdin;
cmigeflpq0007633pwb30j7gw	cmigefl680001633pt61nspi1	cmigeflpf0005633p8nb98p6d	T001	Matematika, Fizika	Toshkent Davlat Pedagogika Universiteti	5	2025-11-26 19:29:53.582	\N	2025-11-26 19:29:53.582	2025-11-27 06:50:26.068
cmih7ot720003381vrclj8t0r	cmigefl680001633pt61nspi1	cmih7ot6q0001381vma5ezge4	TCH25058	Matematika, Fizika	adsadadas	1	2025-11-27 09:08:52.046	\N	2025-11-27 09:08:52.046	2025-11-27 09:08:52.046
\.


--
-- Data for Name: Tenant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Tenant" (id, name, slug, logo, address, phone, email, status, "subscriptionPlan", "subscriptionStart", "subscriptionEnd", "trialEndsAt", "maxStudents", "maxTeachers", settings, "createdAt", "updatedAt") FROM stdin;
cmigefl680001633pt61nspi1	Demo Maktab #1	beruniy	\N	Toshkent shahar, Yunusobod tumani	+998 90 123 45 67	demo@maktab.uz	TRIAL	BASIC	\N	\N	2025-12-26 19:29:52.872	50	10	\N	2025-11-26 19:29:52.88	2025-11-27 08:32:13.062
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ActivityLog ActivityLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_pkey" PRIMARY KEY (id);


--
-- Name: Announcement Announcement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_pkey" PRIMARY KEY (id);


--
-- Name: AssignmentSubmission AssignmentSubmission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AssignmentSubmission"
    ADD CONSTRAINT "AssignmentSubmission_pkey" PRIMARY KEY (id);


--
-- Name: Assignment Assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Assignment"
    ADD CONSTRAINT "Assignment_pkey" PRIMARY KEY (id);


--
-- Name: Attendance Attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_pkey" PRIMARY KEY (id);


--
-- Name: ClassSubject ClassSubject_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClassSubject"
    ADD CONSTRAINT "ClassSubject_pkey" PRIMARY KEY (id);


--
-- Name: Class Class_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_pkey" PRIMARY KEY (id);


--
-- Name: Grade Grade_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Grade"
    ADD CONSTRAINT "Grade_pkey" PRIMARY KEY (id);


--
-- Name: Material Material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Material"
    ADD CONSTRAINT "Material_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Parent Parent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Parent"
    ADD CONSTRAINT "Parent_pkey" PRIMARY KEY (id);


--
-- Name: PaymentPlan PaymentPlan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentPlan"
    ADD CONSTRAINT "PaymentPlan_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Schedule Schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedule"
    ADD CONSTRAINT "Schedule_pkey" PRIMARY KEY (id);


--
-- Name: StudentParent StudentParent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentParent"
    ADD CONSTRAINT "StudentParent_pkey" PRIMARY KEY ("studentId", "parentId");


--
-- Name: Student Student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_pkey" PRIMARY KEY (id);


--
-- Name: Subject Subject_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_pkey" PRIMARY KEY (id);


--
-- Name: SubscriptionPayment SubscriptionPayment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SubscriptionPayment"
    ADD CONSTRAINT "SubscriptionPayment_pkey" PRIMARY KEY (id);


--
-- Name: Teacher Teacher_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Teacher"
    ADD CONSTRAINT "Teacher_pkey" PRIMARY KEY (id);


--
-- Name: Tenant Tenant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Tenant"
    ADD CONSTRAINT "Tenant_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: ActivityLog_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ActivityLog_createdAt_idx" ON public."ActivityLog" USING btree ("createdAt");


--
-- Name: ActivityLog_resourceType_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ActivityLog_resourceType_idx" ON public."ActivityLog" USING btree ("resourceType");


--
-- Name: ActivityLog_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ActivityLog_tenantId_idx" ON public."ActivityLog" USING btree ("tenantId");


--
-- Name: ActivityLog_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ActivityLog_userId_idx" ON public."ActivityLog" USING btree ("userId");


--
-- Name: Announcement_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_expiresAt_idx" ON public."Announcement" USING btree ("expiresAt");


--
-- Name: Announcement_publishedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_publishedAt_idx" ON public."Announcement" USING btree ("publishedAt");


--
-- Name: Announcement_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Announcement_tenantId_idx" ON public."Announcement" USING btree ("tenantId");


--
-- Name: AssignmentSubmission_assignmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AssignmentSubmission_assignmentId_idx" ON public."AssignmentSubmission" USING btree ("assignmentId");


--
-- Name: AssignmentSubmission_assignmentId_studentId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "AssignmentSubmission_assignmentId_studentId_key" ON public."AssignmentSubmission" USING btree ("assignmentId", "studentId");


--
-- Name: AssignmentSubmission_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AssignmentSubmission_studentId_idx" ON public."AssignmentSubmission" USING btree ("studentId");


--
-- Name: Assignment_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Assignment_classId_idx" ON public."Assignment" USING btree ("classId");


--
-- Name: Assignment_dueDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Assignment_dueDate_idx" ON public."Assignment" USING btree ("dueDate");


--
-- Name: Assignment_teacherId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Assignment_teacherId_idx" ON public."Assignment" USING btree ("teacherId");


--
-- Name: Assignment_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Assignment_tenantId_idx" ON public."Assignment" USING btree ("tenantId");


--
-- Name: Attendance_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Attendance_classId_idx" ON public."Attendance" USING btree ("classId");


--
-- Name: Attendance_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Attendance_date_idx" ON public."Attendance" USING btree (date);


--
-- Name: Attendance_studentId_classId_subjectId_date_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Attendance_studentId_classId_subjectId_date_key" ON public."Attendance" USING btree ("studentId", "classId", "subjectId", date);


--
-- Name: Attendance_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Attendance_studentId_idx" ON public."Attendance" USING btree ("studentId");


--
-- Name: Attendance_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Attendance_tenantId_idx" ON public."Attendance" USING btree ("tenantId");


--
-- Name: ClassSubject_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ClassSubject_classId_idx" ON public."ClassSubject" USING btree ("classId");


--
-- Name: ClassSubject_classId_subjectId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ClassSubject_classId_subjectId_key" ON public."ClassSubject" USING btree ("classId", "subjectId");


--
-- Name: ClassSubject_subjectId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ClassSubject_subjectId_idx" ON public."ClassSubject" USING btree ("subjectId");


--
-- Name: ClassSubject_teacherId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ClassSubject_teacherId_idx" ON public."ClassSubject" USING btree ("teacherId");


--
-- Name: Class_academicYear_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Class_academicYear_idx" ON public."Class" USING btree ("academicYear");


--
-- Name: Class_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Class_tenantId_idx" ON public."Class" USING btree ("tenantId");


--
-- Name: Grade_academicYear_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Grade_academicYear_idx" ON public."Grade" USING btree ("academicYear");


--
-- Name: Grade_quarter_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Grade_quarter_idx" ON public."Grade" USING btree (quarter);


--
-- Name: Grade_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Grade_studentId_idx" ON public."Grade" USING btree ("studentId");


--
-- Name: Grade_subjectId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Grade_subjectId_idx" ON public."Grade" USING btree ("subjectId");


--
-- Name: Grade_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Grade_tenantId_idx" ON public."Grade" USING btree ("tenantId");


--
-- Name: Material_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Material_classId_idx" ON public."Material" USING btree ("classId");


--
-- Name: Material_subjectId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Material_subjectId_idx" ON public."Material" USING btree ("subjectId");


--
-- Name: Material_teacherId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Material_teacherId_idx" ON public."Material" USING btree ("teacherId");


--
-- Name: Material_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Material_tenantId_idx" ON public."Material" USING btree ("tenantId");


--
-- Name: Message_receiverId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_receiverId_idx" ON public."Message" USING btree ("receiverId");


--
-- Name: Message_senderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_senderId_idx" ON public."Message" USING btree ("senderId");


--
-- Name: Message_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_status_idx" ON public."Message" USING btree (status);


--
-- Name: Message_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_tenantId_idx" ON public."Message" USING btree ("tenantId");


--
-- Name: Notification_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_createdAt_idx" ON public."Notification" USING btree ("createdAt");


--
-- Name: Notification_isRead_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_isRead_idx" ON public."Notification" USING btree ("isRead");


--
-- Name: Notification_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_tenantId_idx" ON public."Notification" USING btree ("tenantId");


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: Parent_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Parent_tenantId_idx" ON public."Parent" USING btree ("tenantId");


--
-- Name: Parent_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Parent_userId_idx" ON public."Parent" USING btree ("userId");


--
-- Name: Parent_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Parent_userId_key" ON public."Parent" USING btree ("userId");


--
-- Name: PaymentPlan_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PaymentPlan_tenantId_idx" ON public."PaymentPlan" USING btree ("tenantId");


--
-- Name: Payment_dueDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_dueDate_idx" ON public."Payment" USING btree ("dueDate");


--
-- Name: Payment_invoiceNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_invoiceNumber_idx" ON public."Payment" USING btree ("invoiceNumber");


--
-- Name: Payment_invoiceNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Payment_invoiceNumber_key" ON public."Payment" USING btree ("invoiceNumber");


--
-- Name: Payment_parentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_parentId_idx" ON public."Payment" USING btree ("parentId");


--
-- Name: Payment_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_status_idx" ON public."Payment" USING btree (status);


--
-- Name: Payment_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_studentId_idx" ON public."Payment" USING btree ("studentId");


--
-- Name: Payment_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_tenantId_idx" ON public."Payment" USING btree ("tenantId");


--
-- Name: Schedule_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Schedule_classId_idx" ON public."Schedule" USING btree ("classId");


--
-- Name: Schedule_dayOfWeek_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Schedule_dayOfWeek_idx" ON public."Schedule" USING btree ("dayOfWeek");


--
-- Name: Schedule_teacherId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Schedule_teacherId_idx" ON public."Schedule" USING btree ("teacherId");


--
-- Name: Schedule_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Schedule_tenantId_idx" ON public."Schedule" USING btree ("tenantId");


--
-- Name: StudentParent_parentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StudentParent_parentId_idx" ON public."StudentParent" USING btree ("parentId");


--
-- Name: StudentParent_studentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StudentParent_studentId_idx" ON public."StudentParent" USING btree ("studentId");


--
-- Name: Student_classId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Student_classId_idx" ON public."Student" USING btree ("classId");


--
-- Name: Student_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Student_status_idx" ON public."Student" USING btree (status);


--
-- Name: Student_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Student_tenantId_idx" ON public."Student" USING btree ("tenantId");


--
-- Name: Student_tenantId_studentCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Student_tenantId_studentCode_key" ON public."Student" USING btree ("tenantId", "studentCode");


--
-- Name: Student_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Student_userId_key" ON public."Student" USING btree ("userId");


--
-- Name: Subject_tenantId_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Subject_tenantId_code_key" ON public."Subject" USING btree ("tenantId", code);


--
-- Name: Subject_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subject_tenantId_idx" ON public."Subject" USING btree ("tenantId");


--
-- Name: SubscriptionPayment_dueDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SubscriptionPayment_dueDate_idx" ON public."SubscriptionPayment" USING btree ("dueDate");


--
-- Name: SubscriptionPayment_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SubscriptionPayment_status_idx" ON public."SubscriptionPayment" USING btree (status);


--
-- Name: SubscriptionPayment_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SubscriptionPayment_tenantId_idx" ON public."SubscriptionPayment" USING btree ("tenantId");


--
-- Name: Teacher_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Teacher_tenantId_idx" ON public."Teacher" USING btree ("tenantId");


--
-- Name: Teacher_tenantId_teacherCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Teacher_tenantId_teacherCode_key" ON public."Teacher" USING btree ("tenantId", "teacherCode");


--
-- Name: Teacher_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Teacher_userId_idx" ON public."Teacher" USING btree ("userId");


--
-- Name: Teacher_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Teacher_userId_key" ON public."Teacher" USING btree ("userId");


--
-- Name: Tenant_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Tenant_slug_idx" ON public."Tenant" USING btree (slug);


--
-- Name: Tenant_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Tenant_slug_key" ON public."Tenant" USING btree (slug);


--
-- Name: Tenant_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Tenant_status_idx" ON public."Tenant" USING btree (status);


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- Name: User_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_tenantId_idx" ON public."User" USING btree ("tenantId");


--
-- Name: ActivityLog ActivityLog_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ActivityLog ActivityLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Announcement Announcement_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Announcement Announcement_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Announcement Announcement_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AssignmentSubmission AssignmentSubmission_assignmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AssignmentSubmission"
    ADD CONSTRAINT "AssignmentSubmission_assignmentId_fkey" FOREIGN KEY ("assignmentId") REFERENCES public."Assignment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AssignmentSubmission AssignmentSubmission_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AssignmentSubmission"
    ADD CONSTRAINT "AssignmentSubmission_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Assignment Assignment_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Assignment"
    ADD CONSTRAINT "Assignment_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Assignment Assignment_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Assignment"
    ADD CONSTRAINT "Assignment_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Assignment Assignment_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Assignment"
    ADD CONSTRAINT "Assignment_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Assignment Assignment_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Assignment"
    ADD CONSTRAINT "Assignment_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Attendance Attendance_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Attendance Attendance_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Attendance Attendance_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Attendance Attendance_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Attendance Attendance_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClassSubject ClassSubject_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClassSubject"
    ADD CONSTRAINT "ClassSubject_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClassSubject ClassSubject_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClassSubject"
    ADD CONSTRAINT "ClassSubject_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClassSubject ClassSubject_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClassSubject"
    ADD CONSTRAINT "ClassSubject_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Class Class_classTeacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_classTeacherId_fkey" FOREIGN KEY ("classTeacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Class Class_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Class"
    ADD CONSTRAINT "Class_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Grade Grade_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Grade"
    ADD CONSTRAINT "Grade_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Grade Grade_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Grade"
    ADD CONSTRAINT "Grade_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Grade Grade_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Grade"
    ADD CONSTRAINT "Grade_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Grade Grade_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Grade"
    ADD CONSTRAINT "Grade_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Material Material_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Material"
    ADD CONSTRAINT "Material_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Material Material_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Material"
    ADD CONSTRAINT "Material_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Material Material_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Material"
    ADD CONSTRAINT "Material_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Material Material_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Material"
    ADD CONSTRAINT "Material_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_parentMessageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_parentMessageId_fkey" FOREIGN KEY ("parentMessageId") REFERENCES public."Message"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Message Message_receiverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_receiverId_fkey" FOREIGN KEY ("receiverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Parent Parent_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Parent"
    ADD CONSTRAINT "Parent_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Parent Parent_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Parent"
    ADD CONSTRAINT "Parent_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PaymentPlan PaymentPlan_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PaymentPlan"
    ADD CONSTRAINT "PaymentPlan_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."Parent"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payment Payment_receivedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_receivedById_fkey" FOREIGN KEY ("receivedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payment Payment_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Schedule Schedule_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedule"
    ADD CONSTRAINT "Schedule_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Schedule Schedule_subjectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedule"
    ADD CONSTRAINT "Schedule_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES public."Subject"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Schedule Schedule_teacherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedule"
    ADD CONSTRAINT "Schedule_teacherId_fkey" FOREIGN KEY ("teacherId") REFERENCES public."Teacher"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Schedule Schedule_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Schedule"
    ADD CONSTRAINT "Schedule_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudentParent StudentParent_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentParent"
    ADD CONSTRAINT "StudentParent_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."Parent"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StudentParent StudentParent_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentParent"
    ADD CONSTRAINT "StudentParent_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Student Student_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."Class"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Student Student_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Student Student_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Subject Subject_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subject"
    ADD CONSTRAINT "Subject_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SubscriptionPayment SubscriptionPayment_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SubscriptionPayment"
    ADD CONSTRAINT "SubscriptionPayment_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Teacher Teacher_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Teacher"
    ADD CONSTRAINT "Teacher_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Teacher Teacher_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Teacher"
    ADD CONSTRAINT "Teacher_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_tenantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES public."Tenant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict PvlDaYUKV3UfGAsJFhUoeTfOPudBtyHRfBU3F8yJnPgixfTJLiHwUsO2B2WTdud

