[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = [
  "npm install --legacy-peer-deps --no-package-lock --loglevel=error"
]

[phases.build]
cmds = [
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "sh -c 'npx prisma migrate deploy && npm start'"
